.title {
    .heading-primary {
        font-size: $font-size-large;

        margin-bottom: 1.2rem;
    }

    .subheading {
        width: calc($width-base + 1rem);
    }

    @include flex(column, center, 0);

    margin-bottom: $margin-bottom-base;

    color: $main-color-darker;
}

main {
    margin: 0 auto;

    padding: 0 2rem 2rem;

    @include flex(column, center, 0);

    .password-container {
        width: $width-base;
        @include flex(row, center, 0);
        justify-content: space-between;

        margin-bottom: 0.5rem;

        .password {
            font-size: $font-size-password;
        }

        .password-btns {
            @include flex(row, center, 0.8rem);
        }

        .btn-icon {
            width: 2.5rem;
            height: 2.5rem;

            border: none;
            background: none;

            cursor: pointer;
            pointer-events: all;

            display: inline-block;
            position: relative;

            text-align: center;

            .icon-password {
                pointer-events: none;
                font-size: 2.5rem;

                color: $main-color-darker;
            }
        }
    }

    .strength-container {
        width: 0rem;
        height: 5px;

        align-self: flex-start;
        justify-self: center;

        background-color: $main-color;

        border-radius: 2.5px;

        margin-bottom: 4.5rem;

        transition: all 300ms ease;

        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: $width-base;
            height: 5px;

            background-color: $main-color;

            border-radius: 2.5px;

            z-index: -1;
        }
    }

    .options-container {
        @include flex(row, center, 5rem);

        width: 100%;
        height: 100%;

        margin-bottom: $margin-bottom-base;

        .length-options {
            @include flex(column, flex-start, 1rem);

            align-self: stretch;

            width: 45%;

            label[for="length"] {
                font-size: $font-size-medium;
                color: $main-color-darker;

                margin-bottom: 2.2rem;
            }

            input[type="range"] {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;

                width: 100%;
                height: 5px;

                background-color: $main-color;
                border-radius: 2.5px;

                outline: none;

                margin-bottom: 2.2rem;

                &::-webkit-slider-thumb {
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;

                    width: 20px;
                    height: 20px;

                    background-color: $main-color-darker;
                    border-radius: 50%;

                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    width: 20px;
                    height: 20px;

                    background-color: $main-color-darker;
                    border-radius: 50%;

                    cursor: pointer;
                }
            }

            .length-text {
                font-size: calc($font-size-medium - 0.5rem);
                color: $main-color-darker;

                width: 5.5rem;
                height: 5.5rem;

                border-radius: 50%;

                background-color: $main-color;

                @include flex(row, center, 0);
                justify-content: center;

                align-self: center;
            }
        }

        .other-options {
            @include flex(column, flex-start, 1rem);

            width: 45%;

            &-title {
                font-size: $font-size-medium;
                color: $main-color-darker;

                margin-bottom: 0.8rem;
            }

            div {
                @include flex(row, center, 0);
                justify-content: space-between;

                width: 100%;

                label {
                    font-size: $font-size-base;
                    color: $main-color-darker;
                }

                input[type="checkbox"] {
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;

                    width: 25px;
                    height: 25px;

                    background-color: $main-color;

                    border: solid 2px $main-color-darker;

                    outline: none;

                    cursor: pointer;

                    position: relative;

                    &:checked::before {
                        content: url(../svg/Tick.svg);

                        position: absolute;
                        top: 35%;
                        left: 70%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

label {
    font-family: inherit;
    font-weight: 400;
}

.cta {
    font-size: $font-size-base;
    font-weight: 700;
    color: $main-color;
    font-family: inherit;

    border: none;
    background-color: $main-color-darker;

    padding: 1.5rem 7rem;
    margin-bottom: 4rem;

    border-radius: 7px;

    transition: transform 300ms ease-in-out;

    cursor: pointer;

    position: relative;

    &:hover {
        transform: scale(0.98);
    }
}

.popup {
    width: 10rem;

    opacity: 0;

    background-color: $green-color;
    color: $main-color-darker;
    font-size: calc($font-size-base - 1.2rem);
    font-weight: bold;

    border-radius: 7px;

    padding: 8px 0;

    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translate(-50%, 0);

    transition: opacity 300ms ease-in;

    &::after {
        content: "";

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        border-width: 5px;
        border-style: solid;
        border-color: $green-color transparent transparent transparent;
    }
}
